
/*
 * PICNIC DEFAULT VARIABLES
 * ------------------------
 *
 * I. BASIC
 *
 * 1 Literal colors
 *
$aqua: #7fdbff !default; // not used
$blue: #0074d9 !default;
$navy: #001f3f !default; // not used
$teal: #39cccc !default; // not used
$green: #2ecc40 !default;
$olive: #3d9970 !default; // not used
$lime: #01ff70 !default; // not used
$yellow: #ffdc00 !default; // not used
$orange: #ff851b !default;
$red: #ff4136 !default;
$fuchsia: #f012be !default; // not used
$purple: #b10dc9 !default; // not used
$maroon: #85144b !default; // not used
$white: #fff !default;
$silver: #ddd !default; // not used
$gray: #aaa !default;
$black: #111 !default;
 *
 * 2 "Abstract" colors
 *
$picnic-white: $white !default;
$picnic-black: $black !default;
$picnic-primary: $blue !default;
$picnic-success: $green !default;
$picnic-warning: $orange !default;
$picnic-error: $red !default;
$picnic-dull: $gray !default;
 *
 * 3 Other basic theme settings
 *
$picnic-color-variation: 10% !default;
$picnic-transparency: .2 !default;
$picnic-separation: .6em !default;
$picnic-breakpoint: 60em !default;
$picnic-radius: .2em !default;
$picnic-border: 1px solid $picnic-dull !default;
$picnic-shadow: 0 0 .2em rgba($picnic-dull, $picnic-transparency) !default;
 *
 * II. COMPONENTS
 *
 * 1 Card
 *
$picnic-card-shadow: none !default;
$picnic-card-border: $picnic-border !default;
$picnic-card-radius: $picnic-radius !default;
 *
 * 2 Grid
 *
$picnic-grid-gutter: $picnic-separation !default;
$picnic-grid-gutter-vertical: $picnic-grid-gutter !default;
$picnic-grid-gutter-horizontal: $picnic-grid-gutter !default;
$picnic-grid-gutter: 10px !default;
$picnic-grid-gutter: $picnic-separation !default;
$picnic-grid-gutter-vertical: $picnic-grid-gutter !default;
$picnic-grid-gutter-horizontal: $picnic-grid-gutter !default;
$picnic-grid-sizes: 500 600 700 800 900 1000 1100 1200 1300 1400 1500 1600 1700 1800 1900 2000 !default;
$picnic-grid-children: $picnic-grid-sizes !default;
$picnic-grid-off: $picnic-grid-sizes !default;
$picnic-grid-count: one two three four five six seven eight nine ten eleven twelve !default;
$picnic-grid-part: full half third two-third fourth three-fourth fifth two-fifth three-fifth four-fifth sixth !default;
$picnic-grid-offpart: none half third two-third fourth three-fourth fifth two-fifth three-fifth four-fifth sixth !default;
 *
 * 3 Nav
 *
$picnic-nav-height: 3em !default;
$picnic-nav-shadow: $picnic-shadow !default;
$picnic-nav-position: fixed !default;
$picnic-nav-sides: .6em !default;
$picnic-nav-responsive: true !default;
$picnic-nav-open-left: false !default;
$picnic-nav-timing: .5s !default;
 *
 * 4 Tooltip
 *
$picnic-tooltip-background: $picnic-black !default;
$picnic-tooltip-size: .8em !default;
 *
 * III. FORM RELATED:
 *
 * 1 Buttons
 *
$picnic-button-margin: $picnic-separation / 2 0 !default;
$picnic-button-padding: $picnic-label-padding !default;
$picnic-button-hover: inset 0 0 0 99em rgba($picnic-white, $picnic-transparency) !default;
$picnic-button-click: inset 0 0 0 99em rgba($picnic-black, $picnic-transparency) !default;
$picnic-button-pseudo-hover: inset 0 0 0 99em rgba($picnic-black, $picnic-transparency / 2) !default;
$picnic-button-transition: $picnic-transition !default;
$picnic-button-radius: $picnic-label-radius !default;
 *
 * 2 Checkbox
 *
$picnic-checkbox-character: '\2714' !default;
$picnic-checkbox-radius: $picnic-radius !default;
 *
 * 3 Dropimage
 *
$picnic-dropimage-ratio
$picnic-dropimage-height
$picnic-dropimage-background-color
$picnic-dropimage-background-image
$picnic-dropimage-radius
$picnic-dropimage-margin
 *
 * 4 Input
 *
$picnic-input-height: 2.1em !default;
$picnic-input-padding: $picnic-separation / 2 $picnic-separation !default;
$picnic-input-background: $picnic-white !default;
 *
 * 5 Label
 *
$picnic-label-padding: $picnic-separation / 2 $picnic-separation * 1.5 !default;
$picnic-label-radius: $picnic-radius !default;
 *
 * 6 Radio buttons
 *
$picnic-radio-size: 1em !default;
$picnic-radio-border: 1px solid $picnic-dull !default;
 *
 * 7 Select
 *
$picnic-select-height: 2.2em !default;
$picnic-select-margin: $picnic-separation / 2 !default;
$picnic-select-padding: $picnic-separation / 2 $picnic-separation * 0.75 !default;
$picnic-select-dropimage: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyIiBoZWlnaHQ9IjMiPjxwYXRoIGQ9Im0gMCwxIDEsMiAxLC0yIHoiLz48L3N2Zz4=" !default;
 */

/* new color names */
$milktea: #f4ebdb;
$coffeecream: #f5dec0; /* contrast background */
$espresso: #210;
$macchiato: #ba9;

/* redefine picnic main colors */
$picnic-white: $milktea;
$picnic-black: $espresso;
$picnic-dull: $macchiato;
$blue: #025fb0;

$sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
$serif-font: Georgia, Palatinon, serif;
$mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
$main-font: $sans-font;
$heading-font: $sans-font;

/* Spacing */
$picnic-separation: .66667em;
$picnic-radius: .33333em;

/* Breakpoint variables */
$picnic-breakpoint: 960px; // same as the default, but prefer pixels
$screen-xs: 480px; // big phone
$screen-sm: 768px; // tablet
$screen-md: $picnic-breakpoint; // small desktop
$screen-lg: 1280px; // normal desktop
$screen-xl: 1600px; // big desktop
